#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.logo {
  display: flex;
  margin: 0 auto;
  height: 100px;
  width: 100px;
  padding: 1.5em;
  opacity: 0.8;
  fill: aliceblue;
}
 .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}